
/* MAIN INDEX CON BOOTSTRAP */

.flex-main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.btn-toolbar{
    display: flex;
    justify-content: center;
}

.sticky-icons{
    position: sticky;
    top: 750px;
    z-index: 1;
    display: flex;
    justify-content: end;
}