/* MAIN INGRESAR_USUARIO */

.main-login{
    //margin: 30px;
    padding: 20px 0px 20px 20px;
    @include display-flex(column);
    justify-content: center;
    align-items: center;
}

.form-control{
    width: 50vw;
}
