/* MAIN NOSOTROS*/

.main-nosotros{
    @include display-flex(row);
    width: 100vw
}

.nav-info-nosotros{
    @include display-flex(column);
    width: 20%;

    a{
        font-size: 1.5rem;
    }
}

.informacion-nosotros{
    @include display-flex(column);
    align-items: center;
    width: 80%;
}

.info-contact{
    padding: 30px;
}

.icon-text{
    display: flex;
    align-items: center;
}

.icon-text-data{
    padding: 0px 0px 0px 20px;
    margin: 0px;
}

.icon-text a{
    display: flex;
    align-items: center;
}

.formulario-consultas{
    @include display-flex(column);
    margin: 10px;
}

.label-form{
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

.label-inputs{
    width: 80%;
    border-radius: 5px;
    background-color: rgba(249, 249, 249, 0.674);
}

.buttons-form{
    display: flex;
    justify-content: flex-end;
    margin: 10px;
}

.button-input{
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    width: 150px;
    font-size: 1.5rem;
    font-family: sans-serif;
    color: azure;
    background-color:#0b5ed7;
}

.info-delivery{
    font-size: 1.5rem;
    padding: 30px;
}

.info-payment-methods{
    padding: 30px;
    font-size: 1.5rem;
}

.info-store{
    padding: 30px;
    font-size: 1.5rem;
    @include display-flex(column);
}

.body-info-store{
    font-size: 1.5rem;
    @include display-flex(column);
    align-items: center;
}

.iframe-map{
    margin: 20px;
}
