/* Generales */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #E6F4F1;
}

li{
    list-style-type: none;
}

p{
    padding: 5px;
    text-align: justify;
}

button{
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}

a{
    text-decoration: none;
}

.icons{
    object-fit: contain;
}

/* Menu usuario Header*/

.bar-log{
    background-color: #96C5F7;
    display: flex;
    justify-content: end;
    padding: 5px;
}

.menu-user ul{
    display: flex;
}

.menu-user li{
    margin: 5px;
}

/* Menu de navegación de páginas Header*/

.bar-pages{
    background-color: #61DBFF;
    display: flex;
    justify-content: space-between;
}

.bar-pages ul{
    display: flex;
}

.bar-pages li{
    margin: 10px;
}

.bar-pages-left{
    display: flex;
    align-items: center;
}

.bar-pages-rigth{
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 10px;
}

.bar-pages-rigth img{
    margin: 10px;
}

/* Pie de página */

footer{
    background-color: #61DBFF;
    display: flex;
    justify-content: space-between;
}

.footer-left, .footer-rigth{
    display: flex;
    margin: 10px;
}

.social-networks, .shipping-forms, .contact{
    margin: 10px;
}

.contact a{
    display: flex;
    align-items: center;
}

.contact span{
    margin: 5px;
}

.social-networks img, .shipping-forms img, .extra-icon{
    margin: 5px;
}

/* Cuerpo principal index */

.box-products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

h1{
    margin: 10px;
    text-align: center;
    font-family: 'Bitter', serif;
}

.box{
    margin: 10px;
    padding: 10px;
    border: 2px solid #000000;
    text-align: center;
    width: fit-content;
    display: flex;
    flex-direction: column;
}

/* Cuerpo principal busqueda */

.box-search{
    width: 100%;
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bar-search{
    width: 80%;
    margin: 5px;
}

/* Cuerpo principal carrito_de_compra */

.box-info-products{
    display: flex;
    flex-direction: column;
}

.box-info-product{
    margin: 10px;
    padding: 20px;
    border: 2px solid #000000;
    display: flex;
    justify-content: space-between;
}

.info-product{
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-shop{
    text-align: end;
    margin: 30px;
}

.nav-shop li{
    padding: 10px;
}

/* Cuerpo principal como_comprar */

.info-shop{
    display: flex;
    justify-content: center;
}

.info-shop p{
    width: 80%;
    margin: 30px;
}

/* Cuerpo principal crear_usuario e ingresar_usuario*/

.form-user{
    margin: 15px;
    padding: 20px;
    width: 400px;
    border: 2px solid #000000;
    border-radius: 10px;
    background-color: #96c5f758;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.form-user img{
    width: 200px;
    height: 200px;
}

.form-user form{
    margin: 30px;
    display: flex;
    flex-direction: column;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button-user{
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}

/* Cuerpo principal nosotros */

.nosotros{
    display: flex;
}

.nosotros p{
    width: 800px;
}

.nav-info-nosotros{
    width: 20%;
    padding-left: 30px;
    margin: 20px;
}

.nav-info-nosotros li{
    margin: 10px;
    font-size: large;
}

.nav-info-nosotros li:hover{
    margin: 10px;
    font-size: larger;
}

.info-nosotros{
    width: 80%;
    padding-right: 80px;
    margin: 10px;
}

.nosotros{
    margin: 10px;
    display: flex;
}

.info-contact {
    margin: 20px;
}

.info-delivery, .info-payment-methods, .info-store{
    margin-top: 40px;
}

.info-contact li{
    padding: 10px;
    display: flex;
    align-items: center;
    width: 50%;
}

.info-contact a{
    display: flex;
    align-items: center;
}

.info-contact span{
    margin-left: 5px;
}

.info-contact img{
    object-fit: contain;
    margin-right: 10px;
}

.formulario-consultas{
    margin-top: 20px;
    width: 700px;
}

.label-form{
    margin: 10px 0px 10px 25px;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.label-inputs{
    width: 80%;
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.buttons{
    width: 90%;
    display: flex;
    justify-content: flex-end;
}

.buttons input{
    margin: 10px 0px 10px 10px;
    width: 150px;
}

.info-store iframe{
    margin-top: 20px;
    padding: 10px;
}

/* GRID */

.grid-container{
    height: 100vh;
    display: grid;
    grid-template-rows: 20% auto 15%;
}